body {
  background-color: rgb(121, 118, 118);
  justify-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 200vh;
  background-image: url("assets/IMG/2yc41cpqojd41.png");
  background-size: cover;      /* hace que cubra toda la pantalla */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
  background-attachment: fixed; /* para que el fondo NO se mueva */
  
}



.estilos{
    display: flex;
    top: 10px; /*Importante darle de donde comenzar a la barra*/
    position: sticky;
    border-radius: 20px;
    background-color: rgba(153, 122, 18, 0.5);
    padding: 5px 10px;
    max-width: 95%;
    margin-top: 20px;
    align-items: center;
    flex-direction:row;
    box-shadow:0px 2px 2px 7px #974915;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    
    
}

.estilos a{
    font-size: 1.5rem;
    color: black;
    padding: 4px 200px;
    max-width:55%;
    cursor: pointer;
    text-decoration: none; /*Quita decoraciones*/       
    text-shadow:-1px 5px 3px #3f3c3c;
}
/*Estilos para las a*/
.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 3em;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}


/*Comenzamos con los elementos de la pàgina principal*/


.hero {
  margin-top: 10px;
  min-height: 70vh;
  background-image: url("assets/IMG/minecraft-blocks-collection-fjsaax3f2xk5c5kf-fjsaax3f2xk5c5kf.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;   /* Coloca elementos uno debajo del otro */
  justify-content: center;  /* Centra verticalmente */
  align-items: center;      /* Centra horizontalmente */
  text-align: center;
  color: rgb(246, 240, 240);
  font-size: 2.5rem;
  font-family: "Press Start 2P"; /* Fuente estilo videojuego */
}

.btn-hero {
  margin-top: 20px;
  padding: 12px 22px;
  background: #34c924;
  border-radius: 15%;
  color: white;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.6s ease;
}
.btn-hero:hover {
  background: #b4da09;
}


/*Segunda parte de la primera parte de la página*/
/* ---------------- TARGETES ---------------- */
.cards {
  display: flex;           /* Las coloca en fila */
  justify-content: center;
  gap: 20px;
  padding: 40px;
}


.card {
  width: 250px;
  background: #222;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
  transition: 
    transform 0.3s ease-out,
    box-shadow 0.3s ease-in-out,
    background 0.3s linear;
}

.card img {
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.4s ease-in-out; 
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 10px 20px black;
  background: #333;
}

/* ---------------- MENÚ SECUNDARIO ---------------- */
.submenu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.submenu a {
  text-decoration: none;
  color: #242726;
  font-size: 28px;
  font-weight: bold;
  text-shadow:-6px -2px 3px #837c7c;
  transition: 
    color 0.3s ease,
    letter-spacing 0.3s ease-in-out;
}



.submenu span {
  font-size: 32px;
  vertical-align: middle; /* Alinea el icono con el texto */
  color: #131414;
  text-shadow:-6px -2px 3px #837c7c;
  transition: 
    color 0.3s ease;
}
.submenu a span:hover {
  color: #202ddd;
  scale: (1,10);
}

.submenu a:hover {
  color: #55ff55;
  letter-spacing: 2px; /* EFECTO REQUERIDO */
}

/*------Imagen final-----*/
.gato{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gato img{
  box-shadow:0px 2px 12px 10px #d4e114;
}
.gato:hover img{
  transform: scale(1.10); /*Aumentamos el tamaño*/
  transition: transform 0.5s ease-in-out;
  
}
@media (max-width: 768px) {
    .hero{
      margin-top: 50px;
      max-width: 95%;
      max-height: 40%;

    }
      


    .hero h1{
      font-size: 2rem;
      font-weight: bold;
      color: rgb(242, 241, 241);
      
    }
    .hero p{
      color: white;
      font-size: 2rem;
      font-weight: bold;
      max-width: 85%;
      
    }

    .cards{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .submenu{
      max-width: 70%;
      display: flex;
     flex-wrap: wrap;
    }

    .gato img{
      max-width: 90%;
    }

    .btn-hero{
      max-width: 40%;
      
    }

    .btn-hero h1{
      font-size: 0.5rem;
    } 
    
    .hero button{
      margin-top: 10%;
    }
  }



/*-----Galeria------*/

/*-----último ------*/
/*Fuentes*/
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
.playwrite-us-trad-guides-regular {
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



/*Fin-Fuentes*/

.titulo-último{
  display: flex;
  align-items: center;
  align-content: center;
}

.titulo-último h1{
  padding: 4px 20px;
  color: white;
  text-decoration: overline underline;
  margin-top: 50px;
  letter-spacing: 0px;
   transition: color 0.2s ease-in-out letter-spacing 0.5s ease-in-out;
  font-family: 'Courier New', Courier, monospace;
  line-height: 4rem;
  background-image: url("assets/IMG/Captura\ de\ pantalla\ 2025-11-22\ 062140.png");
  }
.titulo-último h1:hover{
  color: #1bbc41;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 2.6rem;
}

.cajas-último{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15%;
  padding: auto;
  margin-bottom: 50px;
  display: flex;
flex-wrap:
wrap;
}

.cajitas{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #797e7e;
  color: white;
  padding: auto;
  max-width: 25%;
  align-items: center;
  background-image: url("assets/IMG/1280x720-minecraft-an8pm9v8gg194ngb.jpg");
  transition: transform 0.8s ease-in-out;
}
.cajitas h1{
  line-height: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: overline underline;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 25%;
  gap: 10px;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.cajitas h2{
  font-weight: bold;
  line-height: 100%;
  font-size: 1.5rem;
  text-align:left;
  letter-spacing: 2px;
  color: rgb(16, 15, 15);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.cajitas h2:hover{
  background-color: #e5f1e7;
  color: rgb(24, 24, 24);
}


.cajitas:hover{
  transform: scale(2,2);
  transform: rotate(20deg) scale(1.1);
}

.cajitas h1 img{
  max-width: 25%;
  margin-top: 0px;
  display: flex;
}

.botones-último{
  padding: auto;
  display: flex;
  flex-direction: row;
  gap: 300px;
  justify-content: space-between;
  margin-right: 50px;
  
  
}

.boton{
  padding: 0px 30px;
  width: calc(100%-60%);
  background-color: #34c924;
  border-radius: 10%;
  display: flex;
  min-width: 10%;
  
  
  
  
}
.boton a{
  padding: 10%;
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  text-decoration: overline underline;
  cursor: pointer;
}
.boton span{
  margin-top: 4%;
  font-size: 32px;
  vertical-align: middle; /* Alinea el icono con el texto */
  color: #131414;
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 0,
    "opsz" 24;
  color: rgb(216, 217, 215);
}

.boton:hover{
  background-color: #b4da09;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}






